/*SCSS Files*/
@use 'variables';

/*Main Styles*/
.main{
    margin-top: 60px;

    &__nav{
        display: flex;
        justify-content: space-between;

        &__search-bar{
            margin-left: 30px;
            box-shadow: 1px 1px 3px 2px #ddd;
            height: 60px;
            width: 500px;
            display: flex;
            align-items: center;
            transition: all .5s;

            &:focus, &:focus-within{
                width: 900px;
                border-radius: 20px;
                box-shadow: 1px 1px 3px 2px #aaa;
            }

            &__icon{
                margin-left: 30px;
            }

            &__inpt{
                margin-left: 10px;
                outline: none;
                border: none;
                width: 444px;

                &::placeholder{
                    color: variables.$light-mode-input;
                }
            }
        }

        &__select{
            margin-right: 30px;

            &__default{
                width: 200px;
                padding: 20px;
                box-shadow: 1px 1px 3px 2px #ddd;
                display: flex;
                justify-content: space-between;
                background-color: #fff;
                z-index: 3;
                position: relative;

                &__icon{
                    transition: all .5s;
                }
            }

            &__options-container{
                margin-top: 10px;
                width: 200px;
                padding: 20px;
                box-shadow: 1px 1px 3px 2px #ddd;
                background-color: #fff;
                z-index: 2;
                position: absolute;
                transition: all .5s;
                transform: translateY(-170px);
                opacity: 0;

                @keyframes salir{
                    0%{
                        transform: translateY(-170px);
                        opacity: 0;
                    }
                
                    100%{
                        transform: translateY(0px);
                        opacity: 1;
                    }
                }

                @keyframes volver{
                    0%{
                        transform: translateY(0px);
                        opacity: 1;
                    }

                    100%{
                        transform: translateY(-170px);
                        opacity: 0;
                    }
                }

                &__options{
                    margin-bottom: 5px;

                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &__flags-container{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__country-container{
            width: 250px;
            margin: 10px;
            box-shadow: 1px 1px 3px 2px #ddd;
            height: 300px;
            border-radius: 10px;

            &__img{
                width: 250px;
                height: 150px;
            }

            &__info-container{
                margin-top: 20px;
                margin-left: 20px;

                &__name{
                    margin-bottom: 10px;
                }

                &__population{
                    display: flex;
                }

                &__region{
                    display: flex;
                }

                &__capital{
                    display: flex;
                }
            }
        }
    }

    &__country{
        display: flex;
        width: 1050px;
        justify-content: space-between;

        &__img{
            height: 405px;
            width: 600px;
            margin-left: 70px;
            box-shadow: 1px 1px 20px 20px #ddd;
        }

        &__data-container{
            margin-left: 50px;
            margin-right: 50px;
            height: 405px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &__title{
                font-weight: bold;
            }

            &__info-container{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 130px;

                &__top-level-domain{
                    margin-left: 30px;
                }

                &__currencies{
                    margin-left: 30px;
                }

                &__lang{
                    margin-left: 30px;
                }
            }

            &__border{
                width: 500px;
                align-items: center;
                display: flex;
                flex-wrap: wrap;

                &__span{
                    position: relative;
                    display: flex;
                    width: 120px;
                }

                &__border-container{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 10px;
                    padding: 3px;
                    width: 50px;
                    text-align: center;
                    border-radius: 10px;
                    box-shadow: 1px 1px 3px 2px #ddd;
                }
            }
        }
    }
}

@media only screen and (max-width: 480px){
    .main{
        margin-top: 20px;

        &__nav{
            flex-direction: column;

            &__search-bar{
                font-size: 12px;
                width: 300px;

                &:focus, &:focus-within{
                    width: 300px;
                }
            }

            &__select{
                margin-left: 30px;
                margin-top: 20px;

                &__default{
                    width: 150px;
                    font-size: 12px;
                }

                &__options-container{
                    width: 150px;
                    font-size: 12px;
                }
            }
        }
    }
}