/*Variables*/
/*Color Variables*/
$dark-blue: hsl(209, 23%, 22%);
$very-dark-blue: hsl(207, 26%, 17%);
$light-mode-text: hsl(200, 15%, 8%);
$light-mode-input: hsl(0, 0%, 52%);
$light-mode-bg: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

/*Font Variables*/
$nunito-sans: 'Nunito Sans', sans-serif;